body{
	background:transparent;
}

.bg-body-tertiary {--bs-bg-opacity: 0;}
.nav-item { margin: 0em 8px;}
.nav-link{color: black;}
.nav {--bs-nav-link-disabled-color: rgb(109 111 114 / 75%);}
.btn-outline-primary{color: black; border-color: black;}
.btn-outline-primary:hover {background: #323232; border-color: #323232;}
._heroimage{ border-bottom: 1rem solid #323232;}

._headwrapper{
    position: relative;
    width: 100%;
    height: 5rem;
    max-width: 1920px;
    padding-top: 8px;
    z-index: 10;
    transition: background-color 0.5s ease 0s;
 }

._backgroundwrapper{
    position: absolute;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;
}

._herotext{
	max-width: 950px;
	width: 100%;
	padding: 64px 0px;
	margin: 7rem auto;
	position: relative;
	text-align: center;
	z-index: 1;
}

._herohead{
	font: normal normal 700 4.3rem/1.5 Merriweather;
	text-transform: capitalize;
	color: #1c1b1c;
}

._herobody{
	font: normal normal 400 1.5rem/1.4 Inter;
	color: #585858;
}

._herobutton {
	font: normal normal 500 1.6rem/1.5 Inter;
	background: #101010;
	color: #d7d6d4;
	border:3px solid #101010;
	border-radius: 10px;
	padding: 10px 25px;

}

._herobutton:hover {
	background: #1e1e1e;
	border-radius: 10px;
	border-color: #1e1e1e;
	color: #d7d6d4;
}