body{
	background: #161414;
	overflow-x: hidden;
	margin: 0px auto;
}
.homepage{
	margin: 0px auto;
	max-width: 1920px;
}
.container-1{
	margin: 0px auto;
	max-width: 1920px;
}

.headwrapper{
	position: relative;
	width: 1920px;
	height: 7rem;
	z-index: 10;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	gap: 448px;
	
	width: 1856px;
	height: 80px;

	border-bottom: 2px solid #E8A138;
}

.navbar-logo{
	width: 141.36px;
	height: 48px;
}

.nav{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 16px;
	gap: 32px;

	list-style: none;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}

.nav-end{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	gap: 16px;

	width: 135px;
	height: 40px;

	flex: none;
	order: 2;
	flex-grow: 0;
}

.nav-login-btn{
	background:none;
	box-sizing: border-box;
	align-items: center;
	padding: 10px 20px;
	gap: 8px;

	border: 2px solid #EABD7B;
	border-radius: 6px;

	color: #EABD7B;

	flex: none;
	order: 2;
	flex-grow: 0;
}

.nav-login-btn:hover{
	background: #EABD7B;
	color: #161414;
}

.nav-item{
	font: normal normal 700 1rem/150% Inter;
	font-feature-settings: 'calt' off;
	letter-spacing: -0.01em;
	text-align: center;
}

.nav-item-active{
	padding: 0px 0px 8px 0px;
	border-bottom: 2px solid #EABD7B;
}

.nav-link{
	text-decoration: none;
	color: #EABD7B;
}

.hero-container{width: 1920px;}
.hero-img{border-bottom: 2px solid #EABD7B;}

.hero{
	background: transparent;
	position: relative;
	width: 1920px;
	height: 831px;
}

.hero-wrapper{
	position: absolute;
	top: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow: hidden;*/
    z-index: 0;
}

.hero-text{
	margin: 0 auto;
	max-width: 700px;
	padding: 333px 0px;

	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: 4rem;

}
.hero-heading{
	font: normal normal 700 4em/110% Merriweather;
	color: #FFFFFF;
	margin: 0px;

	flex: none;
	order: 0;
	flex-grow: 0;	
}

.hero-body{
	font: normal normal 500 2em/110% Merriweather;
	color: #FFFFFF;	
	margin: 0px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.product-search-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px;
	gap: 40px;
	margin: 0px;

	width: 1920px;
	height: 190px;
}

.form-text-container{
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 125%;

	color: #EABD7B;


	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.search-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

.input-box{
	box-sizing: border-box;
	background: none;

	align-items: center;
	padding: 12px 20px;
	gap: 8px;

	width: 644px;
	height: 40px;

	border: 2px solid #EABD7B;
	border-radius: 6px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 1;
}
.input-box:focus-visible {
    outline: #EABD7B 1px;
}
.input-box[type="text" i] {color: #EABD7B;}
.input-box[type="email" i] {color: #EABD7B;}
.input-box::-webkit-input-placeholder {
  color: rgba(234, 189, 123, 0.5);
}

.card-section {
	background: #805F45;
	width: 1920px;
	border-top: 2px solid #E8A138;
	border-bottom: 2px solid #E8A138;
	padding: 2em 0px 4em 0em;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

#cs-heading{
	font: normal normal 700 2em/125% Merriweather;
	text-transform: uppercase;
	color: #161414;
	order: 0;
}

.btn-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 0px 6em;
	gap: 3em;
	order: 1;
}

.topthree-btn{
	box-sizing: border-box;
	background: none;
	color: #EABD7B;
	width: 256px;

	/* btn text*/
	font: normal normal 700 1em/150% Inter;
	letter-spacing: 0.05em;
	padding: 12px 0px;

	border: 3px solid #EABD7B;
	border-radius: 6px;
}

.topthree-btn-active{
	background: #EABD7B;
	color: #422B09;

	/* btn text*/
	font: normal normal 700 1em/150% Inter;
	letter-spacing: 0.05em;
	padding: 12px 0px;

	border: 3px solid #422B09;
	border-radius: 6px;
}

.card-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3em;

	width: 100%;
	max-width:1920px;

	flex: none;
	order: 2;
	align-self: stretch;
}

.t3-card{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	gap: 10px;

	width: 346px;
	height: 352px;

	
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
}


#t3-1 {background: url(images/t3-card-1.jpg);}

#t3-2 {background: url(images/t3-card-2.jpg);}

#t3-3 {background: url(images/t3-card-3.jpg);}

.t3-card-text-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	width: 346px;
	height: 77px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) -41.27%, rgba(0, 0, 0, 0.94) 100%);
}

.t3-card-text{
	font: normal normal 800 22px/110% Inter;
	margin: 0px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #EABD7B;
}

.image-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8em 0px;
	gap: 5em;

	width: 1920px;
	color: #EABD7B;
}

#about-us{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/about-us-bg.jpg);
}

#au-heading{
	font: normal normal 700 3em/125% Merriweather;
}

#au-body{
	width: 879px;
	font: normal normal 400 24px/125% Inter;
	text-align: center;
}

.oc-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;

	width: 346px;
	height: 352px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
}

#oc-1 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-1.jpg);}
#oc-2 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-2.jpg);}
#oc-3 {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
	url(images/oc-card-3.jpg);}

.oc-text{
	font: normal normal 700 3em/110% Merriweather;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.card-next{
	width: 50px;
	height: 92px;
	background: #161414;

	display: flex;
	justify-content: center;
	align-items: center;
}

#our-process{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/our-process-bg.jpg);
}

.review-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 10px;

	width: 346px;
	height: 352px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;

	background: rgba(234, 189, 123, 0.55);
	color: white;
}

.feedback-text{
	font: normal normal 400 1em/110% Inter;
	text-align: center;
}

.review-author{font: normal normal 700 1em/150% Inter;}

#how-to-order{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/how-to-order-bg.jpg);
	border-bottom: 2px solid #E8A138;
}

.hto-heading-container{
	text-align: center;
}

#hto-heading{font: normal normal 700 3em/125% Merriweather;}

#hto-sub-heading{
	font: normal normal 600 20px/125% Inter;
	letter-spacing: 0.15em;
	text-align: center;
	text-transform: uppercase;
}

.hto-body-container{
	width: 879px;
	text-align: center;
	font: normal normal 400 20px/125% Inter;
}

#sub-btn{
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px 20px;

	height: 40px;

	border: 2px solid #EABD7B;
	border-radius: 6px;
	background: none;

	/*Text*/
	font: normal normal normal 1em/150% Inter;
	letter-spacing: -0.01em;
	color: #EABD7B;
}

.page-footer{
	width: 100%;
	width: 1920px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4em 0em;
	gap: 214px;

	background: #805F45;
	border-top: 2px solid #E8A138;
}

.footer-link-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 214px;
}

.footer-container{
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	padding: 16px;
	gap: 10px;

	width: 16em;
	
}

.footer-heading{
	font: normal normal 900 1.5em/125% Merriweather;
	color: #161414;
}


.footer-handle-image{
	width: 24px;
	height: 24px;
}

.footer-link{
	display: flex;
	flex-direction: row;
	gap:1em;
	justify-content: center;
	align-items: flex-start;

	font: normal normal 600 1em/150% Inter;
	text-decoration: none;
	color: #161414;
}

.footer-logo-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer-logo{
	width: 300px;
	height: 102px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#footer-logo-text{
	font: normal normal 700 1em/150% Inter;
	letter-spacing: -0.01em;
	color: #EABD7B;
}